@model Proyecto_Web2_Aguilar_Chino_Gonzales_Perez.Models.imagen_producto
@{
  ViewBag.Title = "Agregar imagen";
}

<main class="formulario">
	<div class="titulo-seccion">
		<h1>Agregar imagen</h1>
	</div>
	@using (Html.BeginForm("Create", "ImagenProducto", FormMethod.Post, new { @class = "mb-3" }))
	{
		<div class="row">
			<div class="col-md mt-4">
				@Html.LabelFor(model => model.url_imagen, "Url", new { @class = "form-label" })
				@Html.TextBoxFor(model => model.url_imagen, new { @class = "styled-input", required = "required" })
				<div class="form-text">Ingrese la Url.</div>
			</div>
			<div class="col-md mt-4">
				@Html.LabelFor(model => model.descripcion, "Descripcion", new { @class = "form-label" })
				@Html.TextBoxFor(model => model.descripcion, new { @class = "form-control", required = "required" })
				<div class="form-text">Ingrese la descripcion.</div>
			</div>
			<div class="col-md mt-4">
				@Html.LabelFor(model => model.es_principal, "Tipo de usuario", new { @class = "form-label" })
				@Html.DropDownList("tipo_usuario", (SelectList)ViewBag.Tipo, new { @class = "form-control" })
				<div class="form-text">Seleccione el tipo.</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="d-flex justify-content-center align-items-center gap-4">
				@Html.ActionLink("Cancelar", "Index", "ImagenProducto")
				<button type="submit" class="btn btn-save"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
			</div>
		</div>
	}
</main>
