@model IEnumerable<Proyecto_Web2_Aguilar_Chino_Gonzales_Perez.Models.detalle_carrito>

@{
	ViewBag.Title = "Index";
	decimal total = 0;
}

<main class="container">
	<div class="titulo-seccion">
		<h1>Mi carrito</h1>
	</div>
	<div class="row my-4">
		@if (Model.Count() != 0)
		{
			<div class="col-lg-8">
				@foreach (var item in Model)
				{
					total = total + (item.cantidad * item.producto.precio);
					<div class="card elementos-gestion">
						<div class="card-body elemento-gestion">
							<div class="row">
								<div class="col-md-3">
									@if (item.producto.imagen_producto.Any())
									{
										var imagenPrincipal = item.producto.imagen_producto.FirstOrDefault(imagen => imagen.estado == "A" && imagen.es_principal == true);
										<img src="@imagenPrincipal.url_imagen" style="object-fit: cover; width: 100%; margin-bottom: 1rem;" height="200" alt="Imagen del producto">
									}
								</div>
								<div class="col-md-9">
									<h3 class="card-title h4 elemento-titulo">@item.producto.nombre</h3>
									<p class="card-text">@item.producto.descripcion</p>
									<p class="h5 card-text"><b>®@item.producto.precio</b></p>
									<p class="card-text">@item.cantidad</p>
									<button type="button" style="background-color: transparent; border:none; color:red;"  onclick="location.href='@Url.Action("Delete", new {id = item.id_producto})'">
										<i class="fa-solid fa-trash-can"></i> Eliminar
									</button>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		}
		else
		{
			<div class="col-lg-8">
				<h5>No hay productos en tu carrito</h5>
			</div>
		}
			<div class="col-lg-4">
				<div class="card mb-4 elementos-gestion">
					<div class="card-body elemento-gestion">
						<h5 class="card-title">Resumen de la Compra</h5>
						<table class="table">
							<tbody>
								<tr>
									<th scope="row">Total</th>
									<td class="font-weight-bold">®@total</td>
								</tr>
							</tbody>
						</table>
						<button type="button" style="background-color: transparent; border:none; color:red;" onclick="location.href='@Url.Action("Pay", new {total = total})'">
							<i class="fa-solid fa-cash-register"></i> Pagar
						</button>
					</div>
				</div>
			</div>
		</div>
</main>
